body {
  padding: 0;
  margin: 0;
}

html, body, #map {
height: 100%;
width: 100vw;
}
#ac-wrapper {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(255,255,255,.6);
z-index: 1001;
}
#popup{
width: 25%;
height: 10vh;
background: #FFFFFF;
border: 1px solid #000;
font-size: 1.5vh;
/*-moz-border-radius: 25px;
-webkit-border-radius: 25px;
box-shadow: #64686e 0px 0px 3px 3px;
-moz-box-shadow: #64686e 0px 0px 3px 3px;
-webkit-box-shadow: #64686e 0px 0px 3px 3px; */
position: fixed;
padding: 10vh;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
